<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Bem vindo a página inicial</h1>
		<a href="http://localhost:3000/noticias">Noticias</a><br/>
		<a href="http://localhost:3000/noticia">Noticia</a><br/>
		<a href="http://localhost:3000/novanoticia">Nova Notícia</a><br/>
	</body>
</html>